---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.nombre }}</h1>
  </header>

  <div class="post-content">
    <dl>
      <dt>Marca</dt>
      {% for marca in site.data.contentful.spaces.tarjetas.marca %}
        {% if marca.sys.id == page.marca.sys.id %}
          <dd>{{ marca.titulo }}</dd>
        {% endif %}
      {% endfor %}

      <dt>Categoría</dt>
      {% for categoria in site.data.contentful.spaces.tarjetas.categoria %}
        {% if categoria.sys.id == page.categoria.sys.id %}
          <dd>{{ categoria.titulo }}</dd>
        {% endif %}
      {% endfor %}

      <dt>Beneficio</dt>
      <dd>{{ page.beneficio }}</dd>

      <dt>Breve descripción</dt>
      <dd>{{ page.breveDescripcion }}</dd>

      <dt>Principal Beneficio</dt>
      <dd>{{ page.principalBeneficio }}</dd>

      <dt>Beneficios Generales</dt>
      <dd>
        <ul>
          {% assign items = page.beneficiosGenerales | newline_to_br | split: '<br />' %}
          {% for item in items %}<li>{{ item }}</li>{% endfor %}
        </ul>
      </dd>

      <dt>Modalidad de acumulación</dt>
      <dd>{{ page.modalidadDeAcumulacion }}</dd>

      <dt>Otros Beneficios</dt>
      <dd>
        <ul>
          {% assign items = page.otrosBeneficios | newline_to_br | split: '<br />' %}
          {% for item in items %}<li>{{ item }}</li>{% endfor %}
        </ul>
      </dd>

      <dt>Uso</dt>
      <dd>
        <ul>
          {% for uso in page.uso %}
            <li>{{uso}}</li>
          {% endfor %}
        </ul>
      </dd>

      <dt>Tipo de cliente</dt>
      <dd>{{ page.tipoDeCliente }}</dd>

      <dt>Cargo Administrativo</dt>
      <dd>{{ page.cargoAdministrativo }}</dd>

      <dt>Anualidad</dt>
      <dd>{{ page.anualidad }}</dd>

      <dt>Requisitos</dt>
      <dd>
        <ul>
          {% for requisito in page.requisitos %}
            <li>{{requisito}}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
  </div>

</article>
