---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.titulo }}</h1>
  </header>

  <div class="post-content">
    <dl>
      <dt>Link al form</dt>
      <dd><a href="{{ page.form }}" target="_blank">{{ page.form }}</a></dd>

      <dt>Marca</dt>
      <dd>{{ page.marca }}</dd>

      <dt>Categoría</dt>
      <dd>{{ page.categoria.titulo }}</dd>


      <dt>Beneficios</dt>
      <dd>
        <ul>
          {% for beneficio in page.beneficios %}
            <li>{{beneficio.titulo}}</li>
          {% endfor %}
        </ul>
      </dd>

      <dt>Breve descripción</dt>
      <dd>{{ page.breveDescripcion }}</dd>

      <dt>Modalidad de acumulación</dt>
      <dd>{{ page.modalidadDeAcumulacion }}</dd>

      <!-- <dt>Otros Beneficios</dt>
      <dd>
        <ul>
          {% assign items = page.otrosBeneficios | newline_to_br | split: '<br />' %}
          {% for item in items %}<li>{{ item }}</li>{% endfor %}
        </ul>
      </dd> -->

      <dt>Uso</dt>
      <dd>
        <ul>
          {% for uso in page.uso %}
            <li>{{uso}}</li>
          {% endfor %}
        </ul>
      </dd>

      <dt>Tipo de cliente</dt>
      <dd>{{ page.tipoDeCliente }}</dd>

      <dt>Cargo Administrativo</dt>
      <dd>{{ page.cargoAdministrativo }}</dd>

      <dt>Anualidad</dt>
      <dd>{{ page.anualidad }}</dd>

      <dt>Requisitos</dt>
      <dd>
        <ul>
          {% for requisito in page.requisitos %}
            <li>{{requisito}}</li>
          {% endfor %}
        </ul>
      </dd>
    </dl>
    {% include intereses.html %}
  </div>
</article>
